<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://kit.fontawesome.com/58b8b766ae.js" crossorigin="anonymous"></script>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/NavLeftSide.css">
</head>
<body>
<div class="wrapper">
    <!-- Content For Sidebar -->
    <span th:replace="~{fragments/sidebar :: sidebar}"></span>

    <div class="main">
        <!-- Header -->
        <span th:replace="~{fragments/header :: header}"></span>

        <!-- Content For Main -->
        <main class="content px-3 py-2">
            <h2 class="text-center">Edit Employee</h2>
            <form action="#" th:action="@{/employees/update}"
                  th:object="${employee}" method="Post">
                <input type="hidden" th:field="*{cccd}">
                <div class="mb-3">
                    <label for="InputCccd" class="form-label">Cccd</label>
                    <input type="text" th:field="*{cccd}" class="w-75 form-control" id="InputCccd" placeholder="Cccd" aria-describedby="cccd" required>
                    <div id="cccd" class="form-text text-danger"></div>
                </div>
                <div class="mb-3">
                    <label for="InputName" class="form-label">Name</label>
                    <input type="text" th:field="*{name}" class="w-75 form-control" id="InputName" placeholder="Email" aria-describedby="name" required
                           autocomplete="false">
                    <div id="name" class="form-text"></div>
                </div>
                <div class="mb-3">
                    <label for="InputEmail" class="form-label">Email</label>
                    <input type="email" th:field="*{email}" class="w-75 form-control" id="InputEmail" placeholder="Email" aria-describedby="email">
                    <div id="email" class="form-text"></div>
                </div>
                <div class="mb-3">
                    <label for="InputPhone" class="form-label">Phone</label>
                    <input type="text" th:field="*{phone}" class="w-75 form-control" id="InputPhone" placeholder="Phone" aria-describedby="phone">
                    <div id="phone" class="form-text text-danger"></div>
                </div>
                <div class="mb-3">
                    <label for="InputPosition" class="form-label">Position</label>
                    <input type="text" th:field="*{position}" class="w-75 form-control" id="InputPosition" placeholder="Position" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </main>
        <a href="#" class="theme-toggle">
            <i class="fa-regular fa-moon"></i>
            <i class="fa-regular fa-sun"></i>
        </a>
    </div>
</div>
<script src="/js/bootstrap.bundle.js"></script>
<script src="/js/NavLeftSide.js"></script>
<script>
    document.getElementById('InputCccd').addEventListener('input', function () {
        var cccd = this.value;
        var cccdError = document.getElementById('cccd');

        // Kiểm tra cccd
        var cccdPattern = /^\d{12}$/;
        if (!cccdPattern.test(cccd)) {
            cccdError.textContent = 'Cccd phải có đủ 12 số';
        } else {
            cccdError.textContent = '';
        }
    });
    document.getElementById('InputPhone').addEventListener('input', function () {
        var phone = this.value;
        var phoneError = document.getElementById('phone');

        // Kiểm tra phone
        var phonePattern = /^\d{10}$/;
        if (!phonePattern.test(phone)) {
            phoneError.textContent = 'Phone phải có đủ 10 số';
        } else {
            phoneError.textContent = '';
        }
    });
</script>
</body>
</html>