<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | Management</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="wrapper">
    <div class="container main" >
        <div class="row">
            <div class="col-md-6 side-image">
                <!-- Image -->
                <img src="" alt=""/>
                <div class="text">
                    <p></p>
                </div>
            </div>
            <div class="col-md-6 right">
                <div class="input-box">
                    <header>Login account</header>
                    <div class="input-field">
                        <input type="text" class="input" id="Username" required autocomplete="off"/>
                        <label for="Username">Email</label>
                    </div>
                    <div class="input-field">
                        <input type="password" class="input" id="password" required />
                        <label for="password">Password</label>
                    </div>
                    <div class="input-field">
                        <input type="submit" class="submit" value="Sign In"/>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>