<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>List Category</title>
</head>
<body>
<div class="container-fluid" th:fragment="content">
    <div class="card border-0">
        <div class="card-header">
            <h5 class="card-title">
                Import Goods Table
            </h5>
            <h6 class="card-subtitle text-muted">
                <!-- Button trigger modal -->
                <a type="button" th:href="@{/report/excel-listImportGoods}" class="btn btn-success">
                    Export Excel
                </a>
            </h6>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Supplier</th>
                    <th scope="col">Date</th>
                    <th scope="col">Total</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tempImportGoods: ${importGoods}">
                    <td th:text="${tempImportGoods.idPurchaseOrder}"></td>
                    <td th:text="${tempImportGoods.supplier.name}"></td>
                    <td th:text="${tempImportGoods.dateOrderPurchase}"></td>
                    <td th:text="${tempImportGoods.totalPurchase}"></td>
                    <!-- Add Update and Delete Button -->
                    <td>
                        <a th:href="@{/import-goods/showDetail(purchaseOrderId=${tempImportGoods.idPurchaseOrder})}" class="btn btn-primary btn-sm">
                            Detail
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>