<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>List Product</title>
    <script src="https://kit.fontawesome.com/58b8b766ae.js" crossorigin="anonymous"></script>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/NavLeftSide.css">
</head>
<body>
<div class="wrapper">
    <!-- Content For Sidebar -->
    <span th:replace="~{fragments/sidebar :: sidebar}"></span>

    <div class="main">
        <!-- Header -->
        <span th:replace="~{fragments/header :: header}"></span>

        <!-- Content For Main -->
        <main class="content px-3 py-2">
            <div class="container-fluid">
                <!-- Thông báo -->
                <div id="notification" class="alert d-none" role="alert"></div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="card border-0">
                            <!-- Nội dung cột 1 -->
                            <div class="card-body">
                                <h5 class="card-title">Number of products currently on sale</h5>
                                <p>Search</p>
                                <table class="table table-bordered border-primary">
                                    <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Price</th>
                                    </tr>
                                    </thead>
                                    <tbody id="productTableBody">
                                    <tr class="product-row" th:each="tempProduct : ${products}">
                                        <td><input type="radio" name="product" class="product-radio"></td>
                                        <td class="product-id" th:text="${tempProduct.idPro}"></td>
                                        <td class="product-name" th:text="${tempProduct.namePro}"></td>
                                        <td th:text="${tempProduct.inventory.quantity}"></td>
                                        <td th:text="${tempProduct.price}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col">
                                        <p>Quantity: </p>
                                        <input type="number" class="form-control" id="quantityInput" name="quantity"
                                               aria-describedby="quantity" required autocomplete="off"/>
                                    </div>
                                    <div class="col">
                                        <p>Price: </p>
                                        <input type="number" class="form-control" id="priceInput" name="price"
                                               aria-describedby="price" required autocomplete="off"/>
                                    </div>
                                    <div class="col d-flex align-items-end">
                                        <button id="addButton" type="button" class="btn btn-primary">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card border-0">
                            <!-- Nội dung cột 2 -->
                            <div class="card-body">
                                <h5 class="card-title">Create Purchase Order</h5>

                                <form id="purchaseOrderForm" method="post">
                                    <div class="mb-3">
                                        <label class="form-label">Supplier</label>
                                        <select id="supplier" class="form-select" aria-label="Default select example">
                                            <option value="" selected>Choose Category</option>
                                            <option
                                                    th:value="${tempSupplier.idSupplier}"
                                                    th:each="tempSupplier: ${suppliers}"
                                                    th:text="${tempSupplier.name}"></option>
                                        </select>
                                    </div>
                                    <table class="table table-bordered border-primary">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Total</th>
                                        </tr>
                                        </thead>
                                        <tbody id="purchaseOrderBody">
                                        </tbody>
                                    </table>
                                    <div class="mb-3">
                                        <label class="form-label">Total Amount: </label>
                                        <span id="totalAmount">0</span>
                                    </div>
                                    <button type="submit" class="btn btn-primary" onclick="submitForm(event)">Save Purchase Order</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <a href="#" class="theme-toggle">
            <i class="fa-regular fa-moon"></i>
            <i class="fa-regular fa-sun"></i>
        </a>
    </div>
</div>

<script src="/js/bootstrap.bundle.js"></script>
<script src="/js/NavLeftSide.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('addButton').addEventListener('click', function () {
            addProductToOrder();
        });
    });

    function addProductToOrder() {
        const selectedProductRadio = document.querySelector('.product-radio:checked');
        if (!selectedProductRadio) {
            alert('Please select a product.');
            return;
        }
        const productRow = selectedProductRadio.closest('tr');
        const productId = productRow.querySelector('.product-id').textContent;
        const productName = productRow.querySelector('.product-name').textContent;
        const quantity = parseInt(document.getElementById('quantityInput').value);
        const price = parseFloat(document.getElementById('priceInput').value);

        if (isNaN(quantity) || isNaN(price) || quantity <= 0 || price <= 0) {
            alert('Please enter valid quantity and price.');
            return;
        }

        const total = quantity * price;

        const orderBody = document.getElementById('purchaseOrderBody');
        const row = document.createElement('tr');
        row.innerHTML = `
        <td>${productId}</td>
        <td>${productName}</td>
        <td>${quantity}</td>
        <td>${price}</td>
        <td>${total}</td>
        <td><button type="button" class="btn btn-danger btn-sm remove-btn">Remove</button></td>
    `;
        orderBody.appendChild(row);

        const totalAmountSpan = document.getElementById('totalAmount');
        const currentTotal = parseFloat(totalAmountSpan.textContent) || 0;
        totalAmountSpan.textContent = (currentTotal + total).toFixed(2);
    }

    function removeRow(row) {
        const totalAmountSpan = document.getElementById('totalAmount');
        const totalAmount = parseFloat(totalAmountSpan.textContent);
        const rowTotal = parseFloat(row.cells[4].textContent);

        // Update total amount
        totalAmountSpan.textContent = (totalAmount - rowTotal).toFixed(2);

        // Remove the row
        row.remove();
    }

    function submitForm(event) {
        event.preventDefault();

        const supplier = document.getElementById('supplier').value;
        const purchaseOrderItems = [];
        const rows = document.getElementById('purchaseOrderBody').getElementsByTagName('tr');

        for (const row of rows) {
            const productId = row.cells[0].textContent;
            const quantity = row.cells[2].textContent;
            const price = row.cells[3].textContent;

            purchaseOrderItems.push({
                product: { idPro: productId },
                priceOrderPurchase: parseFloat(price),
                quantityItemOrderPurchase: parseInt(quantity)
            });
        }

        const data = {
            supplier: { idSupplier: supplier },
            items: purchaseOrderItems,
            dateOrderPurchase: new Date().toISOString()
        };

        fetch('/api/purchase-orders/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(response => {
            if (response.ok) {
                showNotification('Purchase order saved successfully', 'success');
                resetForm();
            } else {
                showNotification('Failed to save purchase order', 'danger');
            }
        }).catch(error => {
            console.error('Error:', error);
            showNotification('Error occurred while saving purchase order', 'danger');
        });
    }

    function showNotification(message, type) {
        const notification = document.getElementById('notification');
        notification.className = `alert alert-${type}`;
        notification.textContent = message;
        notification.classList.remove('d-none');

        // Hide the notification after 3 seconds
        setTimeout(() => {
            notification.classList.add('d-none');
        }, 10000);
    }

    function resetForm() {
        document.getElementById('purchaseOrderBody').innerHTML = '';
        document.getElementById('totalAmount').textContent = '0';
        document.getElementById('supplier').value = '';
        document.getElementById('quantityInput').value = '';
        document.getElementById('priceInput').value = '';
    }

    document.getElementById('purchaseOrderForm').addEventListener('submit', submitForm);


</script>
</body>
</html>
