<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Left Navigation Side</title>
<!--    <script src="https://kit.fontawesome.com/58b8b766ae.js" crossorigin="anonymous"></script>-->
<!--    <link href="/css/bootstrap.css" rel="stylesheet">-->
<!--    <link rel="stylesheet" href="/css/NavLeftSide.css">-->
</head>
<body>
    <!-- Content For Sidebar -->
    <aside id="sidebar" th:fragment="sidebar">

        <div class="h-100">
            <!-- Form Logout -->
            <form action="#" th:action="@{/logout}" method="POST">
                <div class="sidebar-logo">
                    <a href="#">Trung</a>
                    <button type="submit" class="btn ms-5 btn-transparent border-0 sidebar-link">
                        <span class="my-2  float-end text-white">
                            <i class="fa-solid fa-right-from-bracket pe-2 "></i>
                            Log Out
                        </span>
                    </button>
                </div>
            </form>

            <ul class="sidebar-nav">
                <li class="sidebar-header">
                    Admin Elements
                </li>
                <li class="sidebar-item">
                    <a th:href="@{/index}" class="sidebar-link">
                        <i class="fa-solid fa-list pe-2"></i>
                        Dashboard
                    </a>
                </li>
                <li class="sidebar-item">
<!--                     collapsed là trạng thái ban đầu đang thu gọn của thẻ-->
<!--                     data-bs-target là id của thẻ cần thu gọn,-->
<!--                     data-bs-toggle là thuộc tính để mở rộng hoặc thu gọn thẻ-->
<!--                     aria-expanded là thuộc tính để xác định phần tử mục tiêu đang được thu gọn-->
                    <a href="#" class="sidebar-link collapsed" data-bs-target="#products" data-bs-toggle="collapse"
                       aria-expanded="false"><i class="fa-solid fa-file-lines pe-2"></i>
                        Products
                    </a>
                    <ul id="products" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Category</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">List Products</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-target="#orders" data-bs-toggle="collapse"
                       aria-expanded="false"><i class="fa-solid fa-clipboard pe-2"></i>
                        Orders
                    </a>
                    <ul id="orders" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item px-">
                            <a href="#" class="sidebar-link">List Order</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Processing Return Orders</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-target="#customers" data-bs-toggle="collapse"
                       aria-expanded="false"><i class="fa-solid fa-person pe-2"></i>
                        Customers
                    </a>
                    <ul id="customers" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a th:href="@{/users/list}" class="sidebar-link">List Customer</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Manager Customer Reviews</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-target="#employees" data-bs-toggle="collapse"
                       aria-expanded="false"><i class="fa-solid fa-person pe-2"></i>
                        Employees
                    </a>
                    <ul id="employees" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">List Employee</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </aside>
</body>
</html>