<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Update Supplier</title>
    <script src="https://kit.fontawesome.com/58b8b766ae.js" crossorigin="anonymous"></script>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/NavLeftSide.css">
</head>
<body>
<div class="wrapper">
    <!-- Content For Sidebar -->
    <span th:replace="~{fragments/sidebar :: sidebar}"></span>

    <div class="main">
        <!-- Header -->
        <span th:replace="~{fragments/header :: header}"></span>

        <!-- Content For Main -->
        <main class="content px-3 py-2">
            <h2 class="text-center">Edit Supplier</h2>
            <form action="#" th:action="@{/suppliers/update}"
                  th:object="${supplier}" method="Post">
                <input type="hidden" th:field="*{idSupplier}">
                <div class="mb-3">
                    <label for="InputName" class="form-label">Name</label>
                    <input type="text" th:field="*{name}" class="w-75 form-control" id="InputName" placeholder="Name" aria-describedby="name" required
                           autocomplete="false">
                </div>
                <div class="mb-3">
                    <label for="InputPhone" class="form-label">Phone</label>
                    <input type="text" th:field="*{phone}" class="w-75 form-control" id="InputPhone" placeholder="Phone" aria-describedby="name" required
                           autocomplete="false">
                </div>
                <div class="mb-3">
                    <label for="InputAddress" class="form-label">Address</label>
                    <input type="text" th:field="*{address}" class="w-75 form-control" id="InputAddress" placeholder="Address" aria-describedby="name" required
                           autocomplete="false">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </main>
        <a href="#" class="theme-toggle">
            <i class="fa-regular fa-moon"></i>
            <i class="fa-regular fa-sun"></i>
        </a>
    </div>
</div>
<script src="/js/bootstrap.bundle.js"></script>
<script src="/js/NavLeftSide.js"></script>
</body>
</html>