<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Edit Product</title>
    <script src="https://kit.fontawesome.com/58b8b766ae.js" crossorigin="anonymous"></script>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/NavLeftSide.css">
</head>
<body>
<div class="wrapper">
    <!-- Content For Sidebar -->
    <span th:replace="~{fragments/sidebar :: sidebar}"></span>

    <div class="main">
        <!-- Header -->
        <span th:replace="~{fragments/header :: header}"></span>

        <!-- Content For Main -->
        <main class="content px-3 py-2" th:object="${inventory}">
            <h2 class="text-center">Update Product</h2>
            <div class="mb-3">
                <label for="InputName" class="form-label">Name</label>
                <input type="text" th:field="*{product.namePro}" class="w-75 form-control" id="InputName" disabled>
            </div>
            <div class="mb-3">
                <label for="InputQuantity" class="form-label">Quantity</label>
                <input type="text" th:field="*{quantity}" class="w-75 form-control" id="InputQuantity" disabled>
            </div>
            <div class="mb-3">
                <label for="InputPrice" class="form-label">Price</label>
                <input type="text" th:field="*{product.price}" class="w-75 form-control" id="InputPrice" disabled>
            </div>
            <a th:href="@{/inventory/list}" type="submit" class="btn btn-primary">Back To List</a>
        </main>
        <a href="#" class="theme-toggle">
            <i class="fa-regular fa-moon"></i>
            <i class="fa-regular fa-sun"></i>
        </a>
    </div>
</div>
<script src="/js/bootstrap.bundle.js"></script>
<script src="/js/NavLeftSide.js"></script>
</body>
</html>