<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>List Product</title>
</head>
<body>
<div class="container-fluid" th:fragment="content">
    <div class="card border-0">
        <div class="card-header">
            <h5 class="card-title">
                Product Table
            </h5>
            <h6 class="card-subtitle text-muted">
                <!-- Button trigger modal -->
<!--                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalCenter">-->
<!--                    Add Product-->
<!--                </button>-->
                <a type="button" th:href="@{/report/excel-product}" class="btn btn-success">
                    Export Excel
                </a>
            </h6>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">LastUpdated</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tempInventory: ${inventories}">
                    <td th:text="${tempInventory.idInventory}"></td>
                    <td th:text="${tempInventory.product.namePro}"></td>
                    <td th:text="${tempInventory.quantity}"></td>
                    <td th:text="${tempInventory.product.price}"></td>
                    <td th:text="${tempInventory.lastUpdated}"></td>
                    <td>
                        <a th:href="@{/inventory/formUpdate(inventoryId=${tempInventory.idInventory})}" class="btn btn-info btn-sm">
                            Update
                        </a>
                        <a th:href="@{/inventory/delete(inventoryId=${tempInventory.idInventory})}" class="btn btn-danger btn-sm"
                           onclick="if (!(confirm('Are you sure you want to delete this user?'))) return false">
                            Delete
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>